@model List<Product>

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-primary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Jimmy's Inventory</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pt-4 pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Product" asp-action="Create" class="btn btn-primary">
                    <i class="bi bi-plus-square"></i> Create New Item
                </a>
            </div>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Item Name
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Category
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model.OrderBy(u => u.Price))
                {
                    <tr>
                        <td>
                            @product.Name
                        </td>
                        <td>
                            @product.Description
                        </td>
                        <td>
                            @product.Price.ToString("c")
                        </td>
                        <td>
                            @product.Category
                        </td>
                        <td>
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="Product" asp-action="Update" asp-route-id="@product.Id" class="btn btn-info mx-2">
                                    <i class="bi bi-pencil"></i> Edit
                                </a>
                                <a asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger mx-2">
                                    <i class="bi bi-trash3"></i> Delete
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>